{% extends "base_generic.html" %}

{% block title %}<title>Rendezvous Upload New Project</title>{% endblock %}

{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}

{% block content %}
<div class ="container">
    <div class="jumbotron">
        <h2 align="center" > Upload A New Project Idea </h2>
        <!-- Input for info to add -->
        <div class="row">
            <div class="col-md-4">
                <p align="right"> Name of Project: </p>
            </div>
            <div class="col-md-8">
                <form class="form-horizontal">
                    <input type="text" class="form-control">
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p align="right"> Description of Project: </p>
            </div>
            <div class="col-md-8">
                <form class="form-horizontal">
                    <input type="text" class="form-control">
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p align="right"> Country: </p>
            </div>
            <div class="col-md-8">
                <form class="form-horizontal">
                    <input type="text" class="form-control">
                </form>
             </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p align="right"> State: </p>
            </div>
            <div class="col-md-8">
                <form class="form-horizontal">
                    <input type="text" class="form-control">
                </form>
             </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p align="right"> City: </p>
            </div>
            <div class="col-md-8">
                <form class="form-horizontal">
                    <input type="text" class="form-control">
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p align="right"> Local Address: </p>
            </div>
            <div class="col-md-8">
                <form class="form-horizontal">
                    <input type="text" class="form-control">
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p align="right"> Tags:</p>
            </div>
            <div class="col-md-8">
            <form class="form-horizontal">
                <input type="text" class="form-control">
            </form>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-4">
                <p align="right">Desired Skills:</p>
            </div>
            <div class="col-md-8" align="center">
                <div class="btn-group btn-gr">
                    <button class="btn btn-default dropdown-toggle" type="button" id="category" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                        Skills
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="category">
                        {% for skill in skills %}
                            <li><a href="#">{{ skill }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

<!-- Button to Upload Idea -->

        <div align="center">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" align="center">
            Upload Idea!
        </button>
        </div>
    </div>
</div>

{% endblock %}
