{% extends "base_generic.html" %}

{% block title %}<title>Rendezvous Advanced Search</title>{% endblock %}

{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
    <div class ="container">
        <div class="jumbotron">
            <h2 align="center">Advanced Search</h2>
            <div class="container-fluid">
                <div class="row">
                    <div align="center" class="col-md-4">
                        <div class="btn-group btn-gr">
                            <button class="btn btn-default dropdown-toggle" type="button" id="category" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                Skills Desired
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="category">
                                {% for skill in skills %}
                                    <li><a href="#">{{ skill }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle" type="button" id="status" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                Project Status
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="status">
                                <li><a href="#">Active</a></li>
                                <li><a href="#">Inactive</a></li>
                                <li><a href="#">Closed</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <form class="form-horizontal">
                                    <input type="text" class="form-control" placeholder="Title includes any of">
                        </form>
                    </div>

                    <div class="col-md-4">
                        <form class="form-horizontal">
                            <input type="text" class="form-control" placeholder="Description includes any of">
                        </form>
                    </div>
                </div>


                <div class="row">

                    <div align="center" class="col-md-4">
                        <div class="btn-group btn-gr">
                            <button class="btn btn-default dropdown-toggle" type="button" id="distance" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                Maximum Distance Away
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="distance">
                                <li><a href="#">Any</a></li>
                                <li><a href="#">Within 1000mi</a></li>
                                <li><a href="#">Within 500mi</a></li>
                                <li><a href="#">Within 100mi</a></li>
                                <li><a href="#">Within 50mi</a></li>
                                <li><a href="#">Within 10mi</a></li>
                                <li><a href="#">Within 5mi</a></li>
                                <li><a href="#">Within 1mi</a></li>
                                <li><a href="#">Not location-based</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <form class="form-horizontal">
                            <input type="text" class="form-control" placeholder="Title includes all of">
                        </form>
                    </div>

                    <div class="col-md-4">
                        <form class="form-horizontal">
                            <input type="text" class="form-control" placeholder="Description includes all of">
                        </form>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="checkbox" align="center">
                            <label>
                                <input type="checkbox"> Include only projects looking for roles you are interested in
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <form class="form-horizontal">
                            <input type="text" class="form-control" placeholder="Tags include">
                        </form>
                    </div>

                    <div class="col-md-4">
                        <form class="form-horizontal">
                            <input type="text" class="form-control" placeholder="Project created by">
                        </form>
                    </div>
                </div>

                <br>
                <div class="col-md-12" align="center">
                    <button class="btn btn-default btn-lg">Search</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}