@font-face{
    font-family: bodyfont;
    src: url("../font/BebasNeue.otf")
}

h4{
    font-family: bodyfont;
    font-size: 200%;
    letter-spacing: 1.5px;
}

body {
  color: whitesmoke;
}

button {
  color: black;
}

.join {
  margin: 50px 0px 0px 0px;
}


.profile-im {
  width: 225px;
  height: 225px;
  border: 3px solid black;
}

.project-im {
  width: 175px;
  height: 175px;
  float: left;
  margin: 4px 10px 3px 0px;
  border: 3px solid black;
}

.skills {
  margin-top: 50px;
  padding: 5px 0px 5px 3px;
  color: black;
  background-color: lightgray;
  border: 3px solid black;
}

.row {
  padding-top: 50px;
}

.jumbotron {
    background-color: #17315b;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 10px 30px 10px;
    margin: 10px 0px 10px 0px;
}

.container {
  margin: 10px 0px 10px 0px;
}

.num-projects {
    background-color: #17315b;
    color: white;
    font-weight: 200;
}